body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td, a{ margin:0; padding:0; }
ul, ol { list-style:none; }
a { text-decoration:none;color:#000; }
sup { vertical-align:text-top; }
sub{ vertical-align:text-bottom; }
legend { color:#000; }
fieldset, img { border:0; }
table { border-collapse:collapse; border-spacing:0; }
input{ outline:none; }
input:focus{ outline:none; }
input{ outline:none; border:0; }

.clearfix:after{content:"";display:block;visibility:hidden;clear:both;height:0;}

.hoverColor:hover {
  cursor: pointer;
  color: #409eff !important;
}

.titleBanner .titleLeft .children:hover .menuC {
  background: red;
    display: block !important; 
}

.divButtonHover {
  display: inline-block;
  width: 142px;
  height: 40px;
  border: solid 1px #00a4ff;
  background: #00a4ff;
  border-radius: 2px;
  text-align: center;
  line-height: 40px;
  cursor: pointer !important;
  z-index: 999;
  color: #fff;
  margin-top: 20px;
}

.divButtonHover:hover {
  background: #0d9ae8;
}

.sol-contact-inner {
  width: 100%;
  height: 349px;
  box-sizing: border-box;
  padding: 0 200px;
  background: #f6f7f9;
 
}

.sol-contact-inner .grid {
  width: 100%;
  display: flex;
  align-items: center;
  height: 100%;
}

.sol-contact-inner .grid .g {
  flex: 1;
  box-sizing: border-box;
  padding-right: 50px;
}

.sol-contact-inner .grid .g >p {
  line-height: 42px;
        font-size: 30px;
        color: #000;
        font-weight: 400;
}

.sol-contact-inner .grid .g >div {
  line-height: 17px;
  font-size: 16px;
  color: #666;
  word-break: break-all;
  font-weight: 200;
  margin-top: 20px;
}

.sol-contact-inner .grid .g >div >a {
  color: #00a4ff;
          font-weight: 700;
}

.sol-contact-inner .grid .g >span {
  margin-top: 20px;
}

.pad {
  box-sizing: border-box;
  padding-left: 20px;
}

/*表格头部变灰*/
.head-gray {
  .has-gutter {
    th {
      background: #f4f6f9;
    }
  }

  .is-leaf {
    background: #f4f6f9;
  }

  .el-table__row {
    td:not(.is-hidden):last-child {
      right: -1px;
    }
  }
}


.el-table.head-gray {
  .el-input__inner {
    border: 0;
  }
}

/*表格鼠标悬停，表格背景颜色取消*/

.table-background-none {
  .el-table__body tr:hover > td {
    background-color: #fff !important;
  }

  .el-table__body tr > td {
    background-color: #fff !important;
  }

  .el-table__body tr.current-row > td {
    background-color: #fff !important;
  }

  .el-table__fixed-body-wrapper tr.current-row > td {
    background-color: #fff !important;
  }
}


/*表格里禁用状态的表单显示正常*/

.selectDisabledShow {
  .el-input__inner {
    border: 0 !important;
    background: #fff !important;
    color: #606266 !important;
  }

  .el-input__suffix {
    display: none;
  }

  .el-input__prefix {
    display: none;
  }
}

/*表格内嵌套input去掉边框*/

.table-input-none {
  .el-input__inner {
    border: 0 !important;
  }
}

//分页样式
.table-pagination {
  text-align: right;
  margin-top: 10px;

  span {
    float: left;
  }
}

.el-table .cell.el-tooltip {
  white-space: nowrap;
  min-width: 50px;
  height: 26px !important;
  font-size: 13px;
}

.el-table__body-wrapper {
  font-size: 13px !important;
  
}
  .el-button--text {
    font-size: 13px !important;
    line-height: 8px !important;
  }
